
/*Global Styles*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  background-image: url('geo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 8rem;
  text-align: center;
  color: whitesmoke;
}

@media (max-width: 40em) {
  h1 {
    font-size: 5.5rem;
    text-align: center;
    color: whitesmoke;
  }
}

.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

@media (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  width: 100%;
  background: transparent;
  z-index: 100;
}

.nav__toggle,
.nav__logo {
  color: black;
}

/*Navigation bar*/
.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bold;
}

.nav__list {
  display: flex;
  margin-left: 1em;
}

.nav__link {
  padding: 0 1em 0 1em;
  color: whitesmoke;
  text-transform: uppercase;
}

.nav__close {
  display: none;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__shop,
.nav__toggle {
  display: flex;
  color: whitesmoke;
  font-size: 1.25rem;
  cursor: pointer;
}

/*Media Query for navigation bar*/
@media (max-width: 766px) {
  .header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  }

  .nav__menu {
    position: fixed;
    background: #121212;
    height: 100%;
    width: 50%;
    right: -100%;
    top: 0;
    padding: 8em 2em 3.5em;
    transition: 1.1s;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
  }

  .nav__link {
    text-transform: uppercase;
    color: whitesmoke;
  }

  .nav__close {
    display: flex;
    color: whitesmoke;
    font-size: 2rem;
    position: absolute;
    top: 0.9rem;
    right: 1.25rem;
    cursor: pointer;
  }

  .nav__toggle {
    display: flex;
    color: whitesmoke;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .show-menu {
    right: 0;
  }
}

@media (min-width: 767px) {
  .nav {
    height: calc(3.5rem + 1.5rem);
    justify-content: initial;
    column-gap: 3rem;
  }

  .nav__list {
    justify-content: end;
    flex-direction: row;
    column-gap: 1rem;
  }

  .nav__link {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
  }

  .nav__btns {
    margin-left: auto;
  }

  .nav__toggle {
    display: none;
  }
}

/*Hero Section*/
.hero{
  min-height: 100vh;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
